{% extends 'base.html' %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100" data-bs-theme="dark">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h2>User Profile</h2>
            <p class="text-white-50 mb-5">Welcome, {{ user.username }}!</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
