{% extends 'base.html' %}


{% block content %}
<h1 class="text-center m-5">All Bikes</h1>


<div class="bike-card-container">
{% for bike in all_bikes %}
  <div class="bike-card bg-dark">
    <img src="{{ bike.main_instance.img_thumbnail.url }}" alt="{{ bike.bike_model.brand }} - {{ bike.bike_model.model }}">
    <div class="bike-card-content">
      <h2 color>{{ bike.brand }}</h2>
      <h3>{{ bike.model }}</h3>
      <div class="bike-card-content-p">
        <p>Available sizes: {{ bike.available_sizes|join:", " }}</p>
        <p>Price per day: ฿{{ bike.price_per_day }}</p>
      </div>
      <a href="{% url 'bike_details' bike.slug %}" class="button">View Details</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}