{% extends 'base.html' %}
{% load static %}
{% load photo_filters %}

{% block content %}
<div class="col-xxl-11 mx-auto">
  <section class="mx-auto bg-image flex justify-content-center"
           style="background-image:url({% static 'webp_images/bike_path.webp' %});">

    <div class="text-overlay p-2">
      <h1 class="display-2"><span class="wild-text">Our</span> Bikes</h1>
      <p class="bold">Your journey starts here. Choose from our wide selection of high-quality bikes,
          and get ready to experience the beauty of Thailand at your own pace.</p>
    </div>
  </section>
</div>

<div class="mx-auto col-xxl-9 col-xl-11 bike-card-container my-5">
{% for bike in all_bikes %}
  {% if bike.main_instance %}
  <div class="bike-card bg-dark">
    {% if bike.main_instance.bike_img %}
      <img src="{{ bike.main_instance.img_thumbnail.url|file_exists }}"
           alt=" Photo of {{ bike_model.brand }} {{ bike_model.model }}"
           loading="lazy">
    {% else %}
      <img src="{% static 'images/Wild_Wheel_rental_logo.webp' %}"
           alt="Placeholder image"
           loading="lazy">
    {% endif %}
    <div class="bike-card-content">
      <h3>{{ bike.brand }}</h3>
      <h3>{{ bike.model }}</h3>
      <div class="bike-card-content-p">
        <p>Available sizes: {{ bike.available_sizes|join:", " }}</p>
        <p>Price per day: ฿{{ bike.price_per_day }}</p>
      </div>
      <a href="{% url 'bike_details' bike.slug %}" class="btn btn-success">View Details</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}