{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
  <div class="col-xxl-11 mx-auto">
    <section class="mx-auto bg-image flex justify-content-center"
             style="background-image:url({% static 'webp_images/background_img2.webp' %});">

        <div class="text-overlay p-2">
          <h1 class="display-2">Welcome to <span class="wild-text">Wild</span>Wheel Rental</h1>
          <p class="welcome-p">Discover the joy of cycling in Thailand with our easy-to-use bike rental platform!!</p>
        </div>
    </section>
  </div>


    <div class="container my-5 flex col-xxl-10 col-12">
      <div class="container marketing py-3 bg-dark">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="d-flex justify-content-center">
              <img src="{% static 'webp_images/laptop.webp' %}"
                   class="object-cover img-fluid rounded-circle"
                   alt="Laptop"
                   loading="lazy"/>
            </div>
            <h3 class="fw-normal my-2 wild-text">Unforgettable Rides, Seamless Booking</h3>
            <p class="main-p">
              Planning your cycling adventure should be as easy as riding a bike. Our intuitive online booking system
              allows you to browse available bikes, select your dates, and secure your rental in just a few simple
              steps. No hidden fees, no complicated procedures – just a straightforward path to your next great ride. We
              prioritize convenience and transparency to make your experience truly hassle-free.
            </p>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center">
              <img src="{% static 'webp_images/temple_copy.webp' %}"
                   class="object-cover img-fluid rounded-circle"
                   alt="Temple"
                   loading="lazy"/>
            </div>
            <h3 class="fw-normal my-2 wild-text">Ready for Your Next Adventure? Let's Get Rolling!</h3>
            <p class="main-p">
              Don't just dream about exploring Thailand – experience it on two wheels with WildWheel Rental. Our
              friendly team is here to help you plan your perfect cycling adventure. Browse our extensive fleet online,
              choose your ideal bike, and get ready to create unforgettable memories. Your Thai cycling journey begins
              here!
            </p>

          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center">
              <img src="{% static 'webp_images/service.webp' %}"
                   class="object-cover img-fluid rounded-circle"
                   alt="Service tools"
                   loading="lazy"/>
            </div>
            <h3 class="fw-normal my-2 wild-text">Your Safety & Comfort, Our Priority</h3>
            <p class="main-p">
              Your cycling journey with WildWheel Rental is backed by our commitment to safety and comfort. Every bike
              undergoes a thorough inspection and professional maintenance before each rental. We provide helmets and
              lockers with every rental and offer optional accessories like child seats, baskets, and phone holders to
              enhance your ride.
            </p>
          </div>
        </div>

        <!-- START THE FEATURETTES -->
        <section>
          <hr class="featurette-divider">
          <div class="row featurette align-items-center">
            <div class="col-md-7">
              <h3 class="wild-text featurette-heading fw-normal lh-1">Why Choose WildWheel Rental?</h3>
              <p class="main-p">At WildWheel Rental, we're more than just a bike rental service – we're your local
                partners
                in exploring the stunning beauty of Thailand. With our deep roots in Hua Hin and a genuine passion for
                cycling, we offer unparalleled local expertise, top-quality bikes, and a commitment to making your
                journey
                truly unforgettable. We pride ourselves on transparent pricing, flexible rental options, and
                personalized
                support from our friendly team. Choose us for an authentic and joyful cycling experience, backed by
                local
                knowledge and genuine care.</p></div>
            <div class="col-md-5">
              <img src="{% static 'webp_images/rental_front.webp' %}"
                   class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
                   alt="rental shop window" loading="lazy"/>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="row featurette align-items-center">
            <div class="col-md-7 order-md-2">
              <h3 class="wild-text featurette-heading fw-normal lh-1">Choose Your Perfect Bike</h3>
              <p class="main-p">Whether you're a seasoned cyclist looking for a challenge or a casual rider seeking a
                leisurely tour, our
                diverse collection has something for everyone. We offer a wide range of bikes to suit your needs
              <ul class="main-p">
                <li><a href="#" class="wild-text">Mountain Bikes:</a>
                  For rugged trails and adventurous off-road excursions.
                </li>
                <li><a href="#" class="wild-text">City Bikes:</a>
                  Perfect for urban exploration and comfortable commutes.
                </li>
                <li><a href="#" class="wild-text">Road Bikes:</a>
                  For speed and long-distance touring on paved roads.
                </li>
                <li><a href="#" class="wild-text">Electric Bikes:</a>
                  For an effortless boost on hilly terrains or longer journeys.
                </li>
              </ul>
              <p class="main-p">Find the bike that perfectly matches your adventure style!</p></div>
            <div class="col-md-5 order-md-1">
              <img src="{% static 'webp_images/sunset.webp' %}"
                   class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
                   alt="three MTB on the beach witch sunrise" loading="lazy"/>
            </div>
          </div>
          <hr class="featurette-divider">
          <div class="row featurette align-items-center">
            <div class="col-md-7">
              <h3 class="wild-text featurette-heading fw-normal lh-1">Discover Hua Hin & Beyond</h3>
              <p class="main-p">Unleash the full potential of your cycling adventure with WildWheel Rental's exclusive
                access to local knowledge. Beyond just providing a bike, we offer curated route suggestions tailored to
                your skill level and interests. Explore serene coastal paths, discover hidden temples, or embark on
                challenging mountain trails. Our team, comprised of local cycling enthusiasts, is always ready to share
                insider tips on the best viewpoints, local eateries, and cultural gems Hua Hin and its surroundings have
                to offer. Let us help you map out an unforgettable journey!</p></div>
            <div class="col-md-5">
              <img src="{% static 'webp_images/employees.webp' %}"
                   class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
                   alt="WildWheel employees" loading="lazy"/>
            </div>
          </div>
          {#          <hr class="featurette-divider"> <!-- /END THE FEATURETTES -->#}
        </section>
      </div>
    </div>
  </main>
{% endblock %}