body {
  background: #31690d;
  background: -webkit-linear-gradient(to right, rgb(49, 105, 13), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgb(49, 105, 13), rgba(37, 117, 252, 1))
}

.navbar-brand {
  font-size: 2rem;
}

.wild-text {
  color: #6A9E39;
}