:root {
  --primary-color: #6A9E39;
}

body {
  background: #31690d;
  background: -webkit-linear-gradient(to right, rgb(49, 105, 13), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgb(49, 105, 13), rgba(37, 117, 252, 1))
}

.navbar-brand {
  font-size: 2rem;
}

.wild-text {
  color: var(--primary-color);
}

.messages {
  position: absolute;
  top: 66px;
  width: 100%;
  background-color: #2b3035;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  z-index: 1000;
  cursor: pointer;
}

.asteriskField {
    display: none;
}

.btn-success {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.hamburger-divider {
    border-bottom: 1px solid #ffffff;
    margin: 8px 0;
    list-style: none;
}

.login-text-errors {
    font-size: 1rem;
    color: rgb(220, 53, 69);
    text-align: center;
    margin-bottom: 1rem;
}

.terms-text {
  color: white;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}